body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.login-form, .log-panel, .price_plans_panel {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-form, .infosForm {
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #d9d9d9;
}
.login-btn, .logout-btn {
	width: 256px;
	margin-top: 20px;
}
.submit {
	margin-top: 15px;
}
.infosForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.infosForm .spinner {
	top: 35%;
}
.title-radios {
	width: 256px;
	display: flex;
}
.error-text {
	color: #A70000;
}
.spinner {
	position: absolute;
	top: 10%;
	z-index: 2;
}
.price_plans_list {
	list-style: none;
	width: 340px;
}
.price_plan {
	padding: 5px;
	border: 1px solid #07453c;
	text-align: center;
	margin: 5px 0;
	border-radius: 2px;
}